.about {
  // background-color: #ffedc8;
  padding-top: 50px;
  &__wrapper {
    display: flex;
    height: 600px;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(193, 157, 86, 0.2);
  }
  &__info {
    width: 60%;
    height: 100%;
    background-image: url("../../../public/images/about-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      height: 93.5%;
      text-align: center;
    }
    &-title {
      font-family: $second-font;
      font-size: 34px;
      margin-top: 0;
      margin-bottom: 10px;
      text-align-last: right;
      span {
        color: $main-gold;
        font-size: 44px;
      }
    }
    &-desc {
      text-align: justify;
      font-family: $second-font;
      font-size: 22px;
      margin: 10px 0;
      strong {
        font-family: $main-font;
        padding-right: 5px;
        color: $main-gold;
      }
    }
    &-subtitle {
      display: inline-block;
      text-align: center;
      font-family: $second-font;
      font-size: 26px;
      margin: 10px 0 4px;
      border-bottom: 2px solid $main-gold;
    }
    &-subdesc {
      font-family: $second-font;
      font-size: 22px;
      text-align: justify;
      margin: 6px 0;
    }
  }
  &__carousel {
    width: 40%;
    height: 100%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
