.companies {
  margin: 80px 0 150px;
  overflow-x: hidden;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $second-font;
    font-size: 36px;
    img {
      width: 40%;
      margin-top: -8%;
    }
  }
  &__carousel {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      align-items: center;
    }
    &-img {
      width: 150px;
    }
  }
}
@media (max-width: 768px) {
  .companies {
    &__title {
      font-size: 28px;
    }
  }
}
@media (max-width: 567px) {
  .companies {
    &__title {
      font-size: 20px;
      img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 360px) {
  .companies {
    &__title {
      font-size: 18px;
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
}
