.header {
  background: #fff;
  padding: 15px 0;
  box-shadow: rgba(193, 157, 86, 0.12) 0px 10px 15px -3px, rgba(193, 157, 86, 0.05) 0px 4px 6px -2px;
  &__wrapper {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 25vw;
    img {
      width: 100%;
    }
  }
  &__nav {
    &-links {
      display: flex;
      gap: 3vw;
      text-transform: uppercase;
      font-weight: 500;
    }
    &-link {
      font-size: 15px;
      border: 2px solid transparent;
      .active {
        border-bottom: 3px solid $main-gold;
      }
      a {
        transition: all 0.3s linear;
        padding-bottom: 8px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 3px;
          background-color: $main-gold;
          left: 0;
          bottom: -3px;
          transition: all 0.3s linear;
        }
      }
      &:hover a {
        color: $main-gold;
        &::after {
          width: 100%;
        }
      }
    }
    &-btn {
      display: none;
      font-size: 25px;
      color: $main-gold;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__nav {
      &-links {
        display: none;
      }
      &-btn {
        display: block;
      }
    }
  }
}
