.header {
  background: #fff;
  padding: 15px 0;
  box-shadow: rgba(193, 157, 86, 0.12) 0px 10px 15px -3px, rgba(193, 157, 86, 0.05) 0px 4px 6px -2px;
  &__wrapper {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.9s linear;
  }
  &__logo {
    width: 25vw;
    img {
      width: 100%;
    }
  }
  &__nav {
    &-links {
      display: flex;
      gap: 3vw;
      text-transform: uppercase;
      font-weight: 500;
    }
    &-link {
      font-size: 15px;
      border: 2px solid transparent;
      .active {
        border-bottom: 3px solid $main-gold;
      }
      a {
        transition: all 0.3s linear;
        padding-bottom: 8px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 3px;
          background-color: $main-gold;
          left: 0;
          bottom: -3px;
          transition: all 0.3s linear;
        }
      }
      &:hover a {
        color: $main-gold;
        &::after {
          width: 100%;
        }
      }
    }
    &-btn {
      display: none;
      font-size: 25px;
      color: $main-gold;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
.menu__nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: -15px;
  right: -100%;
  width: 100vw;
  height: 100vh;
  transition: 0.4s linear;
}

@media (max-width: 992px) {
  .header {
    &__logo {
      width: 40vw;
    }
    &__nav {
      &-links {
        display: none;
      }
      &-btn {
        display: block;
      }
    }
  }
  .menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(193, 157, 86, 0.12);
    display: none;
  }
  .menu-overlay.active {
    display: block;
    transition: 0.4s;
  }
  .menu__nav {
    &-links {
      display: flex;
      width: 40%;
      flex-direction: column;
      background-color: #fff;
      padding-top: 10%;
      padding-left: 80px;
      text-transform: uppercase;
    }
    .header__nav-link {
      font-size: 28px;
      padding: 10px 0;
    }
    &-btn {
      position: absolute;
      top: 40px;
      right: 25px;
    }
  }
  .menu__nav.menu__nav-active {
    right: 0 !important;
    transition: 0.4s linear;
  }
}
@media (max-width: 576px) {
  .header {
    &__logo {
      width: 50vw;
    }
  }
  .menu__nav {
    &-links {
      width: 100%;
      background-color: #fff;
      padding-top: 15%;
      padding-left: 80px;
    }
    .header__nav-link {
      font-size: 22px;
    }
  }
}
