.cakeschool {
  &__hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/images/cake-school/school-12.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &-title {
      color: #fff;
      z-index: 1;
      font-size: 96px;
      font-family: $second-font;
    }
  }
  &__advantages {
    padding: 100px 0;
    &-header {
      display: flex;
      justify-content: center;
    }
    &-title {
      display: inline-block;
      position: relative;
      font-size: 42px;
      font-family: $second-font;
      &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 20px;
        height: 20px;
        background-color: $main-gold;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 10%;
        width: 80%;
        height: 2px;
        background-color: $main-gold;
      }
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 25px;
    }
    &-item {
      padding: 15px 35px;
      width: 25%;
      text-align: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      svg {
        font-size: 36px;
        color: $main-gold;
      }
      .advantages__item {
        &-title {
          font-size: 20px;
          margin: 10px 0;
        }
        &-desc {
          line-height: 25px;
        }
      }
    }
  }
}
