.error {
  width: 100%;
  height: 112vh;
  overflow-x: hidden;
  background-image: url(https://img.freepik.com/free-vector/elegant-orange-watercolor-splash-brush-stroke-design-vector_1055-13033.jpg?w=740&t=st=1663097307~exp=1663097907~hmac=bf2c364870e2ae54d67fc3202b44700027f50b788611835a27295ee1504467ad);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
