.hero {
  background-image: url(../../../public/images/bg/bg-2.jpg);
  background-size: cover;
  height: calc(100vh - 25px);

  &__wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0 0;
  }
  &__inner {
    display: flex;
  }
  &__img {
    padding-left: 5%;
  }
  &__content {
    width: 70%;
    text-align: center;
    &-title {
      font-family: $second-font;
      text-transform: capitalize;
      font-size: 36px;
      color: $main-gold;
    }
    &-cards {
      display: flex;
      justify-content: center;
      gap: 25px;
      width: 100%;
    }
  }
  &__card {
    font-family: $second-font;
    font-size: 22px;
    background-color: #fff;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $main-gold;
    font-weight: 700;
    &-wrapper {
      padding: 15px;
      background: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(11.5px);
      -webkit-backdrop-filter: blur(11.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      transition: 0.4s;
      &:hover {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    // padding: 70px 0 0;
    &__img {
      img {
        width: 80%;
      }
    }
    &__content {
      &-cards {
        gap: 15px;
        width: 100%;
      }
    }
    &__card img {
      width: 80%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 768px) {
  .hero {
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      &-cards {
        flex-wrap: wrap;
      }
    }
    &__card {
      width: 150px;
      &-wrapper {
        padding: 10px;
      }
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
