body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-black;
  // background: #ece9e6;
  // background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  // background: linear-gradient(to right, #ffffff, #ece9e6);
  // overflow-x: hidden;
}
section {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $main-black;
}

.container {
  width: 90vw;
  max-width: 1220px;
  margin: 0 auto;
}
p {
  // margin: 0;
}
